* {
     border: none;
     border-radius: 10;
     /* `otf-font-awesome` is required to be installed for icons */
     font-family:  JetBrains Mono;
     font-size: 24;
     min-height: 0;
 }

 window#waybar {
     background-color: #16191c;
     border-bottom: 3px solid #282828;
     color: #fff;
     transition-property: background-color;
     transition-duration: .1s;
 }

 window#waybar.hidden {
     opacity: 0.0;
 }

 /*
 window#waybar.empty {
     background-color: transparent;
 }
 window#waybar.solo {
     background-color: #FFFFFF;
 }
 */

 #workspaces button {
     padding: 0 5px;
     background-color: #282828;
     color: #fff;
     border-bottom: 3px solid #282828;
 }

 #workspaces button:hover {
     background: rgba(0, 0, 0, 0.2);
     box-shadow: inherit;
     border-bottom: 3px solid #282828;
 }

 #workspaces button.focused {
     background-color: #fff;
     color: #282828;
     border-bottom: 3px solid #fff;
 }

 #workspaces button.urgent {
     background-color: #282828;
     color: #2ecc40;
     border-bottom: 3px solid #282828;
 }

 #mode {
     background-color: #282828;
     border-bottom: 3px solid #282828;
 }

 #clock,
 #battery,
 #cpu,
 #memory,
 #temperature,
 #backlight,
 #network,
 #pulseaudio,
 #custom-media,
 #tray,
 #mode,
 #idle_inhibitor,
 #mpd {
     padding: 0 10px;
     margin: 0 4px;
     color: #ffffff;
 }

 #clock {
     background-color: #282828;
 }

 #battery {
     background-color: #504aa8;
     color: #000000;
 }

 #battery.charging {
     color: #000000;
     background-color: #0FF000;
 }

 @keyframes blink {
     to {
         background-color: #ffffff;
         color: #262626;
     }
 }

 #battery.critical:not(.charging) {
     background-color: #ff000d;
     color: #ffffff;
     animation-name: blink;
     animation-duration: 0.5s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate;
 }

 label:focus {
     background-color: #282828;
 }

 #cpu {
     background-color: #282828;
     color: #fff;
 }

 #memory {
     background-color: #282828;
     color: #fff;
 }

 #backlight {
     background-color: #282828;
     color: #fff;
 }

 #network {
     background-color: #282828;
     color: #fff;
 }

 #network.disconnected {
     background-color: #282828;
     color: #fff;
 }

 #pulseaudio {
     background-color: #282828;
     color: #fff;
 }

 #pulseaudio.muted {
     background-color: #282828;
     color: #fff;
 }

 #temperature {
     background-color: #282828;
     color: #fff;
 }

 #temperature.critical {
     background-color: #282828;
     color: #fff;
 }

 #tray {
     background-color: #282828;
     color: #fff;
 }

 #idle_inhibitor {
     background-color: #282828;
     color: #fff;
 }

 #idle_inhibitor.activated {
     background-color: #282828;
     color: #fff;
}

